.root
  position: fixed
  z-index: 5
  bottom: 0
  left: 0
  width: 230px
  height: 230px

.tapBtn
  position: absolute !important
  bottom: 10px !important
  right: 10px !important

\:global(.accessibility) .tapBtn:focus
  outline: 2px solid #000