@import '../../components/nav/nav'

.articleLayout
  margin: 32px auto
  width: 800px

.articleTitle
  margin-bottom: 64px

.articleTitle2
  margin-bottom: 16px

.articleParagraph
  margin-bottom: 48px

@media screen and (max-width: 832px)
  .articleLayout
    padding: 0 16px
    width: 100%

.articleGoToTop
  right: 50px
  bottom: 70px
  width: 60px
  height: 60px
  cursor: pointer
  opacity: .2
  transition: opacity .3s

  &:hover
    opacity: .6

.articleGoToTopIcon
  display: block
  width: 100%
  height: 100%