@import '../../components/nav/nav'

.articleLayout
  margin: 32px auto
  width: 800px

.articleTitle
  margin-bottom: 64px

.articleTitle2
  margin-bottom: 16px

.articleParagraph
  margin-bottom: 48px