//- 通用的meta标签
meta(charset='utf-8')
meta(name='renderer' content='webkit')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(http-equiv='Window-target' content='_top')
meta(name='author' content='段昊辰, duanhaochen@126.com')
meta(name='copyright' content='段昊辰, duanhaochen@126.com')
link(rel='shortcut icon' href='/static/image/favicon.ico')
link(rel='icon' href='/static/image/favicon.jpg' type='image/jpeg')
link(rel='stylesheet' href='/static/style/bootstrap.min.css')