//- 网站导航
mixin nav(style)
  nav.navbar.navbar-dark.bg-primary(class=style.navLayout)
    div.clearfix(class=style.navBox)
      div.float-left
        a.navbar-brand(href='/') 文章
        a.navbar-brand(href='/') 开源项目
      div.float-right
        a.navbar-brand(href='https://github.com/duan602728596')
          img(class=style.navIcon src='/static/image/github.png' alt='github')