- var style = css('index');

include ../components/nav/nav

doctype html
html
  head
    include ../components/commonHead/commonHead.pug
    link(rel='stylesheet' href='/static/style/index.css')
    title 段昊辰的个人主页

  body
    +nav(style)

    // 文章列表
    div(class=style.listBox)
      div.list-group
        a.list-group-item(href='/article/queue-in-js.html') 用JS实现多个任务并行执行的队列
        a.list-group-item(href='/article/js-copy.html') Javascript实现复制功能
        a.list-group-item(href='/article/dom-to-image.html') 用Javascript将DOM绘制成图片
        a.list-group-item(href='/article/solar-system.html') 基于Three.js + wasm开发的太阳系动画